{{define "addCourse"}}
  {{template "header" .}}
  <div class="center-container centered">
    <h1>Welcome!</h1>
    <p>
      This is a in progrss website that I have setup and is in active delopment. Feel free to look around though and if you want to git it a try! Also if you are interensted in my TODO list go to "/todo" to see more. Most of the stuff on the website is for place holders and will most likly change. If you would like to see more you can click <a href="https://github.com/crabbymonkey/ssbu-trainer">here</a> to view the source code.
  </div>
  {{template "footer" .}}
{{end}}
